.search {
  -webkit-appearance: none;
  border: 1px solid gray;
  border-radius: 100px;
  background-color: white;
  color: black; 
  /* font-weight: bold; */
  /* outline: none; */
  padding: 10px;
  text-align: center;
  width: 300px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

::-webkit-input-placeholder{
  color: gray;
 font-style: italic; 
}