.card-container {
  display: flex;
  flex-direction: column;
  background-color: #2c387e;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  color: white;
}

.card-container:hover {
  transform: scale(1.05);
}

.botaoVotar {
  background-color: #43a047;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.1);
}

span {
  font-weight: bold;
  font-size: 1.2rem;
}