.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #3f51b5;
}

.card-container {
  color: white;
}

h1 {
  /* font-family: 'Bigelow Rules'; */
  /* font-size: 72px; */
  /* color: black; */
  font-weight: normal;
}
